body{
    background-color: #e1e8f2;
}

#container{
    display: grid;
    height: 50%;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img button1"
    "img button2";
}



